body {
    font-family: "Roboto", Sans-Serif;
    background-color: #f0f0f0;
}
header{
    background-color: #333 
}
header>h1{
  text-align: center;
    padding: 20px;
    color:#f0f0f0;
    font-size: 2em;
    font-family: "Robotto" sans-serif;
    letter-spacing:  2px; 
    text-transform: uppercase;
}
.gallery{
    max-width: 800px;
        margin: 0 auto;
        padding: 1rem;
        border: 2px solid pink;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;



}
.photocard{
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    padding: 1rem;
    margin-bottom: 1rem;
    flex:1 0 200px;
    text-align: center;
    transition:transform 0.3s ease-in-out;



}
.photocard:hover{
    transform: scale(1.05);
}
.photocard > img{
    max-width: 100%;
    height:auto;
}
.photocard >h2{
    margin-bottom: 0.5rem;
    color: #333;
    font-size: 1.2rem;


}
.description{
    font-size: 1rem;
    color:#666;
    margin: 0.5rem 0;
}

.date{
   font-size: 0.8rem; 
   color: #999;
}




